.home-container {
    height: calc(100vh - 100px);
    background-image: url("../resources/home-background.jpg");
    background-size: cover;
}

.home-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}

.register-box-cont {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}

#master_content_div {
    max-width: none !important;
}