.home-container {
    height: calc(100vh - 50px);
    background-image: url("../resources/home-background.jpg");
}

.home-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}