.home-container {
    height: calc(100vh - var(--nav-bar-height) - var(--nav-bar-padding));
    background-image: url("../resources/home-background.jpg");
    background-size: cover;
}

.home-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}