body {
    font-family: Arial, sans-serif;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}