body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    max-width: 1440px;
    margin: 0px auto !important;
}

.field-cont {
    padding: 10px;
}

.field-label {
    color: grey;
}

.field-text {
    color: black;
}

.input {
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}

.input-label {
    font-size: 12px;
}

.dropdown-menu-item {
    position: relative;
    cursor: pointer;
}

.dropdown-cont {
    position: absolute;
    right: 0;
    opacity: 0;
    top: 0;
    width: 125px;
    height: 100px;
    background-color: white;
    transition: top .25s, opacity .25s;
    box-shadow: 2px 2px 7px grey;
    display: none;
    cursor: default;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-item {
    padding: .5rem .75rem;
    cursor: pointer;
}

    .dropdown-item:hover {
        background-color: greenyellow;
    }


/* https://getcssscan.com/css-buttons-examples */
.button-22 {
    display: inline;
    align-items: center;
    appearance: button !important;
    background-color: #0276FF !important;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none !important;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-22:active {
        background-color: #006AE8 !important;
    }

    .button-22:hover {
        background-color: #1C84FF !important;
    }

.button-22-danger,
.button-22-danger:active,
.button-22-danger:hover {
    background-color: red !important;
}

.button-22-success,
.button-22-success:active,
.button-22-success:hover {
    background-color: green !important;
}

.btn {
    border-width: 1px;
    padding: 0.25em 1em;
    color: black;
    background-color: white;
    border-color: black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

    .btn:hover {
        color: white;
        background-color: black;
    }

.star {
    width: 0.75rem;
    height: 0.75rem;
    min-width: 0.75rem;
    min-height: 0.75rem;
    background-size: cover;
    background-position: center;
    background-image: url("/resources/star.png")
}

    .star.is-fill {
        background-image: url("/resources/star-fill.png")
    }
