.top-nav-bar-cont {
    height: var(--nav-bar-height);
    padding: var(--nav-bar-padding);
    display: grid;
    grid-template-columns: 200px 1fr auto;
    box-shadow: 0 1px 5px 0px;
    position: relative;
}

.nav-bar-right {
    display: grid;
    text-align:right;
    grid-template-columns: auto auto;
    column-gap: 5px;
}