.user-profile-cont {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 10px;
}

.user-profile-sidebar-item {
    display: grid;
    grid-template-columns: 25px auto;
    padding: 10px;
}

.user-profile-sidebar-item:hover {
    color: rgb(125, 155, 255);
}

.user-profile-sidebar-item i {
    display: flex;
    align-items: center;
}

.user-profile-sidebar-submenu {
    font-size: 0.9rem;
}

.user-profile-sidebar-item-active {
    color: blue;
}